
:root {
    --primary-color: #151515;    /* Blue */
    --secondary-color: #191919;  /* Green */
    --accent-color: #88CE52;     /* Red */
    --background-color: #f4f4f4; /* Light Gray */
    --text-color: #f4f4f4;  
    --disabled-dark: #767676;      /* Dark Gray */
    --p: 0;
    --b: 12px;
    --c: var(--accent-color);
    --w: 120px;
  }
body{
    line-height: 1 ;
    background-color: var(--primary-color);
    color: var(--text-color);
  }
h1,h2,h3,h4{
    /* line-height: 1 !important; */
}
h1{
    font-family: "Audiowide", sans-serif;
    
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--text-color);
  
  }
  h2{
    font-family: "Genos", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
  
  }
  p{
    font-family: "Genos", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  h4{
    font-family: "Genos", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }
  .navbar{
    padding: .5rem 0;
  }
  .navbar-light .navbar-toggler{
    background-color: var(--accent-color);
  }
  .navbar-light .navbar-nav .nav-link{
    color: var(--text-color);
    font-family: "Genos", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .navbar-light .navbar-nav .nav-link:focus{
    color: var(--background-color) !important;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: var(--accent-color);
    
  }
  .name{
    color: var(--accent-color);
    font-weight: 900;
  }
  
  .align_centre{
    text-align: center;
  }
  .align_left{
    text-align: left;
  }
  .align_right{
    text-align: right;
  }
  
  /* navigation */
  .cta{
    background-color: var(--accent-color);
    padding: 8px 14px;
    color: var(--text-color);
    border-radius: 8px;
  }
  .cta:hover{
    color: var(--text-color) !important;
 
  }
  .skill-list-container .skill-list-item{
    background-color: var(--accent-color);
    padding: 8px 14px;
    color: var(--text-color);
    font-weight: 400;
    border-radius: 8px;
    
  }
  .skill-list-item.semi-colon{
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-weight: 600;
  
  }
  .navbar-brand{
    font-family: "Genos", sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-left: 0;
  }
  .logo{
    color: var(--accent-color);
  }
  
  /* -----------------sections_styles----------------- */
  #banner_section{
  background-color: var(--primary-color);
    /* background-color: var(--primary-color); */
  }
  .section_heading{
    padding: 5rem 0;
    text-align: center;
  }
  .section_heading-left{
    padding: 5rem 0;
    text-align: center;
    
  }
  #skills_section{
    background-color: var(--primary-color);
  }
  #nav_section{
    background-color: var(--primary-color);
  }
  
  #about_section{
    background-color: var(--primary-color);
  }
  #testimonial_section{
    background-color: var(--primary-color);
    height: 43rem;
  }
  
  /* ------------portfolio section--------------- */
  .swiper-slide{
    height: auto !important;
    cursor: pointer;
  }
  .swiper-button-next, .swiper-button-prev{
    color: var(--disabled-dark) !important;
    transform: scale(0.8);
  }
  .swiper-navigation-container{
    padding: 0 50px;
  }
  .portfolio-container{
    overflow: hidden;
  }
  .portfolio-card{
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light greyish drop shadow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-card .head{
    margin: 0;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 20px;
  }
  .portfolio-card .tech{
   color: var(--accent-color);
   margin: 0;
   font-size: 1rem;
  }
  .portfolio-card .tech-list{
    font-size: 1rem;
    margin: 0;  
   }
  .portfolio-card img{
   width: 100%;
   height: auto;
   margin: auto 0;
  }
  /* ---------pie----------- */
  .pie {
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-family: "Audiowide", sans-serif;
  }

  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  .pie:before {
    inset: 0;
    background:
      radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
            mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  }

  .pie:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
  }

  .animate {
    animation: p 1s .5s both;
  }

  .no-round:before {
    background-size: 0 0, auto;
  }

  .no-round:after {
    content: none;
  }

  @keyframes p {
    from { --p: 0 }
  }

  /* ---------pie----------- */
  .desc_col_left{
    text-align: left;
  
  
  }
  .desc_col_right{
    text-align: right;
  
  
  }
  .description_one{
    width: 650px;
    padding-bottom: 5rem;
    overflow: auto;
    margin: auto 0 auto 0;
  }
  .description_two{
    width: 650px;
    float: right;
    padding-bottom: 5rem;
    overflow: auto;
    margin: auto 0 auto 0;
  }
  .description_three{
    width: 650px;
    padding-bottom: 5rem;
    overflow: auto;
    margin: auto 0 auto 0;
  }
  .desc_p{
  
    padding-top: 2rem;
  }
  
  /* -------------------------skill and toole section------------------ */
  .skill_item{
    margin: 1rem;
  }
  .skill_item p{
    font-family: "Audiowide", sans-serif;
    margin-top: 10px;
    font-size: 1rem;
  }
  .skills_box{
    padding-bottom: 5rem;
  }
  
  /* -----------------icons----------------- */
  .icon_left{
    color: var(--accent-color);
    float:left;
    padding: 2rem;
  }
  .icon_right{
    color: var(--accent-color);
    float:right;
    padding: 2rem;
  }
  .tool_icons{
    color: var(--accent-color);
    height: 4rem;
    width: 4rem;
    margin: 1rem;
  
  }
  /* ----------------about---------------- */
  .about_strong{
    color: var(--accent-color);
  }
  .about_img{
    max-width: 100%;
    /* margin-bottom:  3rem; */
  }
  
  
  /* ----------------about---------------- */
  /* ----------Testimonial--------------- */
  
  .testimonial_box{
    text-align: center;
    margin-bottom: 13rem;
  }
  .p_username{
    color: var(--accent-color);
  
  }
  .p_testimonial{
    text-align: center;
    margin: 2rem auto 5rem;
  }
  .semicolon{
    font-size: 2rem;
    margin: auto 1rem;
    color: var(--accent-color);
  }
  .star_icon{
    /* color: var(--accent-color); */
    color: #f8a903;
  }
  
  /* -----------carosel------------ */
  
  
  .carousel-indicators .active{
        background-color:  var(--accent-color);
    }
    .carousel-indicators li{
          background-color:  #66bebf;
      }
  .carouselExampleIndicators{
    position: relative;
  }
  .carousel-indicators{
     position: absolute;
     top: 25rem;
   }
  
  
    .carousel-control-prev,
    .carousel-control-next{
        height: 50px;
        width: 50px;
       
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid var(--accent-color);;
        background-color: var(--accent-color);;
    }
  
  
  
  /* ----------Testimonial--------------- */
  /* ----------------footer---------------- */
  #footer_section
  {
    padding-top: 5rem;
    text-align: center;
    background-color: var(--secondary-color);
  
  }
  .footer_p
  {
    color: var(--text-color);
    display: inline-block;
    padding: 0 10px 0 10px;
  
  }
  .footer_p:hover{
    color: var(--text-color);
  }
  .Copyrights{
    margin-top: 10rem;
  }
  
  
  /* ----------- */
  .switch_div{
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  
  .banner_left{
    /* width: 25rem; */
    padding-bottom: 5rem;
    /* margin-left: 5rem; */
    padding-top: 9rem;
  
  
  }
  .banner_left_col{
    height: 550px;
  }
  
  .banner_image_basic{
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    height: 90%;
    width: 90%;
    display: none;
  }
  
  .banner_image_gd{
    margin-top: 2rem;
    /* padding-top: 2rem; */
    padding-bottom: 3rem;
    text-align: center;
    height: 90%;
    width: 90%;
  
  }
  
  .banner_img_col{
    text-align: center;
    margin: 3rem 0 auto 0;
    padding:0;
  }
  .buttons_div{
    text-align: center;
    margin: 5rem;
  
  }
  
  .footer_email{
    display: block;
    font-size: 1.5rem;
  }
  